/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
    .hero_content{
        top:55%;
        left:5%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .lets_do_it {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .half_scr_img {
        width: 50%;
        height: 70vh;
    }

    .section_content {
        width: 50%;
        height: 70vh;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .hero_content{
        top:30%;
        left:5%;
    }

    .hero_head{
        font-size: 11rem;
    }

    .home_best .item{
        max-width: 650px;
    }
    .serv {
        height: 60vh;
    }

    .descr_serv {
        width: 600px;
    }

    .serv_me {
        top: -20%;
        right: -29%;
    }

    .about_me_section {
        height: 70vh;
    }

    .social-section,
    .lets_do_it  {
        height: 70vh;
    }

    .section_content h2{
        font-size: 2.5em;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
    .descr_serv {
        width: 750px;
    }

    .serv_me {
        right: -20%;
    }
}
