/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
    .hero_content{
        top:35%;
        left:5%;
    }
  
    .fr-section{
        background-position: center;
        height: 50vh;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .section_heading h3{
        font-size: 5em;
    }

    .lets_do_it {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .half_scr_img {
        width: 50%;
        height: 70vh;
    }

    .section_content {
        width: 50%;
        height: 70vh;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .hero_content{
        top:16%;
        left:5%;
    }

    .section_heading h3{
        font-size: 7.5em;
    }

    .hero_head{
        font-size: 6.5rem;
    }

    .home_best .item{
        max-width: 650px;
    }
    .serv {
        height: 60vh;
    }

    .descr_serv {
        width: 600px;
    }

    .serv_me {
        top: -20%;
        right: -29%;
    }

    .about_me_section {
        height: 100vh;
    }

    .social-section,
    .lets_do_it  {
        height: 70vh;
    }

    .section_content h2{
        font-size: 2.5em;
    }

    .project_info{
        position: absolute;
        width: 80%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .project_heading,
    .project_intro,
    .project_descr{
        display: block;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
    
    .hero_head{
        font-size: 10rem;
    }
    .descr_serv {
        width: 750px;
    }

    .serv_me {
        right: -20%;
    }
}
