
/****************************************Login Form******************************************************/
.admin_loginPage{
    position: relative;
    background-image: url(../admin_images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: aquamarine;
}

.login{
    position: relative;
    background-color: #E8F5E9;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid #C8E6C9;
}

.logo{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: -20%;
}

.logo_loginPage{
    width: 250px;
}

.form_loginPage{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
}

.text{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
}



footer{
    
    background:linear-gradient(200deg,#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C); 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}


/**********************************DASHBOARD*********************************/

body{
    overflow-x: hidden;
}

.admin_menu{
    background:linear-gradient(to bottom,#616161,#424242);
}


.welcome{
    color: #9E9E9E;
    font-family: 'Roboto', sans-serif;
} 


.vertical_menu{
    background:#424242;
    min-height: 100vh;
}



.content_welcomePage{
    background:linear-gradient(200deg,#FAFAFA, #F5F5F5);
    min-height: 100vh;
}

/***********************************************ADMIN MENU*******************************************************/

.vertical_menu ul li{
    list-style: none;
    padding-bottom: 15px;
}

.vertical_menu i{
    padding-right: 15px;
    font-size: 30px;
}

.vertical_menu a,
.vertical_menu form button,
.vertical_menu i{
    color: #9E9E9E;
    font-size: 20px;
}




/* 
background:linear-gradient(200deg,#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */